.btn {
  display: block;
  font-size: 3vh;
  padding: 1.0ex;
  width: 100%;
  box-sizing: border-box;
  background: #ddd;
}

.right {
  background: green;
  color: white;
}

.active.wrong {
  background: red;
  color: white;
}
