.Congs {
  top: 45%;
  position: fixed;
  width: 100%;
}

.Congs div {
  width: 60%;
  font-size: 32pt;
  font-weight: bold;
  color: indigo;
  display: inline-block;
  text-shadow: 4pt 4pt 0 white;
  animation-name: CongsFrame;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes CongsFrame {
  from {transform: scale(1);}
  to {transform: scale(1.5);}
}
