.Matrix {
  cursor: crosshair;
  margin: auto;
  max-width: 90vw;
  position: relative;
}

.Inline {
  display: inline-block;
}

.Minor {
  cursor: grab;
}

.Rect {
  position: absolute;
  background: #ddd;
}
