.question {
  display: block;
  height: 50vh;
  text-align: center;
  font-size: 3vh;
}

.question > .questionText {
  margin: 5em 0;
  display: inline-block;
}

.question > img {
  display: inline-block;
  max-height: 50vh;
  min-height: 35vh;
  max-width: 98%;
  border: 2px solid black;
  box-sizing: border-box;
}
