.Wrap {
  display: inline-block;
  width: 90%;
}

.Table {
  border-collapse: collapse;
  display: inline-block;
}

.Table,
.Table td {
  border: 1px solid black;
}

.Table td {
  padding: 15px;
}

.Table tr:hover {
  background-color: #fee;
}
