.InputWrap,
.Preview {
  display: inline-block;
  width: 40%;
  height: 35px;
}

.Input {
  padding: 1ex 0;
}

.Pair {
  width: 95%;
  margin: 5px auto;
  border: 1px dashed #ddd;
  padding-bottom: 15px;
}

.Preview {
  position: relative;
}
