.Step {
  border: 1px solid black;
  box-shadow: 5px 5px 4px black;
  width: 90%;
  margin: 10px auto;
}

.Step ul {
  list-style: none;
}

.Step ul li {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ddd;
  cursor: pointer;
}

.Step .Active {
  background-color: black;
  color: #ddd;
}
